<div class="game-container">
  <h1 class="title">Wordle</h1>

  <app-game-over-modal
    *ngIf="showGameOverModal"
    [isWin]="isWin"
    [word]="word"
    (playAgain)="onPlayAgain()"
  ></app-game-over-modal>

  <app-notification
    [message]="notificationMessage"
    [show]="showNotification"
  ></app-notification>

  <app-game-board
    [guesses]="guesses"
    [currentGuess]="currentGuess"
    [currentRow]="currentRow"
    [flipStates]="flipStates"
    [shakingRow]="shakingRow"
    [word]="word"
  ></app-game-board>

  <app-virtual-keyboard
    [keyboard]="keyboard"
    [keyboardStates]="keyboardLetterStates"
    (keyPress)="onKeyPress($event)"
  ></app-virtual-keyboard>
</div>
